.App {
  width: 500px;
  margin: 10px auto;
  padding: 20px;
}
.container {
  border: 1px solid #dadde1;
  border-radius: 4px;
}
.App-header {
  align-items: left;
  justify-content: left;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.Temp {
  padding: 10px;
  text-align: left;
}

.temp {
  position: relative;
  top: 10px;
}
.units {
  font-size: 14px;
  position: relative;
  bottom: 20px;
}

.temperature {
  font-size: 44px;
  font-weight: bold;
}

.main-info {
  text-align: left;
  color: #878787;
  font: arial, helvetica, sans-serif;
  margin: 0 10px 0;
  font-size: 14px;
}

.more-info {
  text-align: left;
  color: #878787;
  font: arial, helvetica, sans-serif;
  padding: 30px;
}
ul {
  list-style: none;
}
.li {
  text-align: center;
}
.City {
  font-size: 24px;
  font-weight: bold;
}
.description {
  text-transform: capitalize;
}
.current-time .description {
  font-size: 18px;
}

.App-footer {
  font-size: 12px;
}
